

/* GLOBAL STYLES */
html {
    font-size: 62.5%;
}
body {
    background: #e2d4c4; 
    margin: 0;
    font-family: 'Merriweather', serif;
    font-size: 1.7rem;
    line-height: 1.4;
}
 h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    color: black;
}
h1 {
  font-size: 4rem;
  font-weight: 400;
}

/* NAVBAR STYLES */
.navbar {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  margin: 0 0 20px 0;
}
.navbar ul {
  list-style-type: none;
  /* background-color: #a66d4b; */
  padding: 0px;
  margin: 0px;
  grid-template-columns: repeat(4, 1fr);
  padding: 5px;
  /* border-radius: 10px; */
}
.navbar a {
  color: black;
  text-decoration: none;
  padding: 5px;
  display: block;
  text-align: center;
}
  .navbar a:hover {
  color: rgba(127, 25, 25, 0.822);

} 
.navbar li {
  float: left;
  font-size: 2rem;
  padding: 0 20px;
}

/* HOME PAGE STYLES */
/* <a> tag for when we add hyperlinks to the 3 products */
a {
    color: #3c8453;
    text-decoration: none;
}

.purchase-text {
  color: #6d452e;
  opacity: .75;
}
.purchase-text:hover {
  color: green;
}
.header-grid {
  display: grid;
  grid-template-columns: 33% 67%;
  margin: 0 4rem;
}
.product-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 20px;
  margin: 30px;
}
.product-columns p {
  font-size: 2rem;
}
.product-item {
  max-width: 100%;
}
.button-class {
  background-color: rgb(203, 169, 169);
}
.main-narrative {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 20px;
  margin: 30px;
}
.main-narrative p {
  font-size: 2rem;
}
.main-narrative h2 {
  text-align: center;
}
.bio p {
  line-height: 1.7;
}
/* BIO PAGE STYLES */
.center-title {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  text-align: center;
}
.biogrid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 2rem;
  margin: 3rem;
}
.biogrid p {
  font-size: 2rem;
}
.biogrid h2 {
  padding-top: 2rem;
}

.biogrid img {
  margin-left: 3rem;
}
/* CONTACT PAGE STYLES */

/* This is the CSS for the Google Forms contact page */
/* .iframe-container {
  display: flex;
  justify-content: center;
} */

/* This is CSS for the formspree.io contact page. I hope I can get it to work. */
input {
  border-width: .35rem;
  border-style: solid;
  background-color: #e2d4c4;
  width: 70%;
  margin-left: 12%;
  font-size: 2rem;
  padding: 16px 16px;
  border-radius: 20px;
  border-color: black;
  margin-bottom: 2rem;
}
textarea {
  border-width: .35rem;
  border-style: solid;
  background-color: #e2d4c4;
  width: 70%;
  margin-left: 12%;
  font-size: 2rem;
  padding: 16px 16px;
  border-radius: 20px;
  border-color: black;
  margin-bottom: 25px;
}
input:focus-within {
  outline: none;
  border-color: brown;
  border-width: 3px;
}
textarea:focus-within {
  outline: none;
  border-color: brown;
  border-width: 3px;
}
button {
  border-width: .35rem;
  border-style: solid;
  background-color: #e2d4c4;
  border-radius: 20px;
  border-color: black;
  font-size: 22px;
  padding: 10px 18px;
  text-align: center;
  display: flex;
  margin: auto;
}
button:hover {
  opacity: 80%;
  cursor: pointer;
}

